body {
  font-family: 'Raleway';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white; }

h1, h2, h3, h4, h5 {
  font-family: 'Raleway';
  font-weight: bold;
  color: #ED3A52;
  margin: 0; }

@media (min-width: 1369px) and (max-width: 1440px) {
  h1 {
    font-size: 2.5rem; } }

@media (min-width: 1281px) and (max-width: 1368px) {
  h1 {
    font-size: 2.2rem; } }

@media (min-width: 1025px) and (max-width: 1280px) {
  h1 {
    font-size: 2rem; } }

@media (min-width: 320px) and (max-width: 1024px) {
  h1 {
    font-size: 1.6rem; } }

@media (min-width: 1369px) and (max-width: 1440px) {
  h2 {
    font-size: 2rem; } }

@media (min-width: 1281px) and (max-width: 1368px) {
  h2 {
    font-size: 1.9rem; } }

@media (min-width: 1025px) and (max-width: 1280px) {
  h2 {
    font-size: 1.6rem; } }

@media (min-width: 320px) and (max-width: 1024px) {
  h2 {
    font-size: 1.4rem; } }

@media (min-width: 1369px) and (max-width: 1440px) {
  h3 {
    font-size: 1.8rem; } }

@media (min-width: 1281px) and (max-width: 1368px) {
  h3 {
    font-size: 1.6rem; } }

@media (min-width: 1025px) and (max-width: 1280px) {
  h3 {
    font-size: 1.3rem; } }

@media (min-width: 320px) and (max-width: 1024px) {
  h3 {
    font-size: 1.1rem; } }

@media (min-width: 1369px) and (max-width: 1440px) {
  h4, h5 {
    font-size: 1.5rem; } }

@media (min-width: 1281px) and (max-width: 1368px) {
  h4, h5 {
    font-size: 1.3rem; } }

@media (min-width: 1025px) and (max-width: 1280px) {
  h4, h5 {
    font-size: 1.1rem; } }

@media (min-width: 320px) and (max-width: 1024px) {
  h4, h5 {
    font-size: 1rem; } }

p, li {
  color: #484848; }
  @media (min-width: 1441px) {
    p, li {
      font-size: 1.1rem; } }
  @media (min-width: 1369px) and (max-width: 1440px) {
    p, li {
      font-size: 1rem; } }
  @media (min-width: 1281px) and (max-width: 1368px) {
    p, li {
      font-size: 1rem; } }
  @media (min-width: 1025px) and (max-width: 1280px) {
    p, li {
      font-size: 0.9rem; } }
  @media (min-width: 320px) and (max-width: 1024px) {
    p, li {
      font-size: 0.8rem; } }

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  background-color: white; }
  .header__items {
    margin-right: auto; }
  .header img {
    height: 3rem;
    display: block;
    padding: 1rem 0; }
  .header ul {
    text-align: center;
    margin-left: auto; }
    .header ul li {
      display: inline-block;
      padding: 0 1rem; }

body {
  margin: 0; }

/** Simple App grid CSS **/
.app-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr 50px;
  grid-template-areas: 'header' 'workspace' 'footer';
  height: 100vh; }
  .app-container .header {
    grid-area: header; }
  .app-container .workspace {
    grid-area: workspace; }
  .app-container .footer {
    grid-area: footer;
    background-color: #648ca6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px; }

/*************************************************************/
/*             NON MOBILE STYLES 750 BREAKPOINT              */
/*************************************************************/
@media only screen and (min-width: 46.875em) {
  .app-container {
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr 50px;
    grid-template-areas: 'header' 'workspace' 'footer'; } }

.btn {
  font-size: 0.9rem;
  font-weight: 800;
  padding: 0.8rem;
  text-align: center;
  border-radius: 10px;
  color: white; }
  .btn__primary {
    background-color: #ED3A52;
    color: white; }
  .btn__primary-outline {
    background-color: transparent;
    color: #ED3A52;
    border: solid 1px #ED3A52; }

.store__header {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-template-rows: 15rem;
  justify-content: space-between;
  background-size: cover;
  background-repeat: no-repeat; }
  @media (min-width: 992px) {
    .store__header {
      background-image: url("https://res.cloudinary.com/shelfish/image/upload/v1556059560/Shelfish/shelfish-banner.jpg");
      padding: 8rem; } }
  @media (min-width: 320px) and (max-width: 1024px) {
    .store__header {
      background-image: url("https://res.cloudinary.com/shelfish/image/upload/v1556125508/Shelfish/mobile-bg.jpg");
      padding: 4rem; } }
  .store__header .header-text {
    display: flex;
    flex-direction: column; }
    @media (min-width: 992px) {
      .store__header .header-text {
        justify-self: end; } }
    @media (min-width: 320px) and (max-width: 1024px) {
      .store__header .header-text {
        text-align: center; } }
    @media (min-width: 992px) {
      .store__header .header-text .btn {
        width: 30%; } }

.store__overview {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(156px, 1fr));
  grid-auto-rows: 94px;
  grid-gap: 30px;
  margin: 20px; }
  .store__overview .store__overviewcard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #d37c72; }

.store__banner {
  column-count: 2;
  column-gap: 20px;
  margin: 20px; }
  .store__banner .product {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    background-color: #82bef6;
    margin-bottom: 20px;
    -webkit-column-break-inside: avoid;
    padding: 24px;
    box-sizing: border-box; }
  .store__banner .product:first-child {
    height: 150px;
    width: 100%; }

.store__promotions {
  display: grid;
  grid-auto-columns: 10rem;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px; }
  @media (min-width: 992px) {
    .store__promotions {
      margin: 5% 15%; } }
  @media (min-width: 320px) and (max-width: 1024px) {
    .store__promotions {
      margin: 5% 0; } }
  .store__promotions .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
    -webkit-column-break-inside: avoid;
    padding: 4rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box; }
  .store__promotions .card:first-child {
    grid-column-start: 1;
    grid-column-end: 3;
    background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0.24) 3%, #00000066 100%), url("https://res.cloudinary.com/shelfish/image/upload/v1556142749/Shelfish/shelfish-bg-01.jpg");
    height: 200px; }
  .store__promotions .card:nth-child(2) {
    background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0.24) 3%, #00000066 100%), url("https://res.cloudinary.com/shelfish/image/upload/v1556143694/Shelfish/shelfish-salad.jpg");
    height: 200px; }
  .store__promotions .card:nth-child(3) {
    background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0.24) 3%, #00000066 100%), url("https://res.cloudinary.com/shelfish/image/upload/v1556145880/Shelfish/shelfish-04.jpg");
    height: 200px; }
  .store__promotions .card:nth-child(4) {
    background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0.24) 3%, #00000066 100%), url("https://res.cloudinary.com/shelfish/image/upload/v1556146117/Shelfish/shelfish-05.jpg");
    height: 200px; }
  .store__promotions .card:nth-child(5) {
    background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0.24) 3%, #00000066 100%), url("https://res.cloudinary.com/shelfish/image/upload/v1556146300/Shelfish/shelfish-06.jpg");
    height: 200px; }
