.btn {
    font-size: 0.9rem;
    font-weight: 800;
    padding: 0.8rem;
    text-align: center;
    border-radius: 10px;
    color: white;
    &__primary {
        background-color: $primary;
        color: white;
    }
    &__primary-outline {
        background-color: transparent;
        color: $primary;
        border: solid 1px $primary;
    }
}